# Core Framework
fastapi
uvicorn[standard]

# Database
sqlalchemy
alembic
psycopg2-binary

# Authentication & Security
python-jose[cryptography]
passlib[bcrypt]
pydantic
pydantic-settings

# File handling
python-multipart
python-dotenv

# HTTP Client
httpx
# OCR & Image Processing
pytesseract
Pillow
opencv-python


pytest
pytest-asyncio

# Production dependencies
gunicorn
prometheus-client
pymysql
pydantic[email]
pydantic-settings
uvicorn
pyjwt